@model IEnumerable<QuestionBank.Models.ViewModel.ExamListAndAddViewModel>
@{
    /**/

    ViewBag.Page = "Sınav";
    ViewBag.Title = "Sınav Yönetimi";
    ViewBag.Description = "Sınav Hazırlama Ekranı";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 control-label">Dersler</label>
        <div class="col-md-10">
            <select id="Ders" name="Ders" class="form-control">
                <option value="0">Ders Seçiniz</option>
                @foreach (var item in ViewBag.UserLessons)
                {
                    <option value="@item.Lesson.ID">@item.Lesson.LessonName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Soru Dönemi</label>
        <div class="col-md-10">
            <div class="mt-checkbox-list">
                @foreach (var item in ViewBag.QuestionPeriod)
                {
                    <label class="mt-checkbox">
                        <input type="checkbox" name="periods" value="@item.ID"> @item.QuestionPeriodName
                        <span></span>
                    </label>
                }
            </div>
        </div>
    </div>
    @*<div class="form-group">
            <label class="col-md-2 control-label">Soru Dönemi</label>
            <div class="col-md-10">
                <div class="mt-checkbox-list">
                    @foreach (var item in ViewBag.QuestionPeriod)
                    {
                        <label class="mt-checkbox">
                            <input type="checkbox" name="periods" value="@item.ID"> @item.QuestionPeriodName
                            <span></span>
                        </label>
                    }
                </div>
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2  col-md-10">
            <input type="submit" value="Ekle" class="btn btn-circle green" />
        </div>
    </div>

</div>
}
