@model QuestionBank.Models.ViewModel.QuestionEditViewModel
@{
    ViewBag.Page = "Sorular";
    ViewBag.Title = "Soru Yönetimi";
    ViewBag.Description = "Soru Güncelleme ekranı";
}

<h2>Soru Güncelleme</h2>
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button class="btn btn-circle green" onclick="location.href='@Url.RouteUrl("Questions")'">
                <i class="fa fa-arrow-left"></i>
                Soru Listesi
            </button>
        </div>
    </div>
</div>

<br />
<div id="message"></div>

<div class="portlet-body form">
    @using (Html.BeginForm("Edit", "Question", FormMethod.Post))
    {
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label">Dersin Adı</label>
                <div class="col-md-10">
                    @*// @Html.DropDownListFor(x => x.question.Topic.LessonID, new SelectList(Model.Lessons, "ID", "LessonName"), new { @class = "form-control ", disabled = "disabled" })*@
                    @Html.TextBoxFor(x => x.question.Topic.Lesson.LessonName, new { @class = "form-control ", @readonly = "true" })

                  
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Konular</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.question.TopicID, new SelectList(Model.Topics, "ID", "TopicName"), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Soru Tipi</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.question.QuestionTypeID, new SelectList(Model.Types, "ID", "QuestionTypeName"), new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Soru</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(x => x.question.Question1, new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Cevaplar</label>

                @foreach (var item in Model.question.Answers)
                {
                    if (item.IsItTrue)
                    {
                        <div class='col-md-offset-2 col-md-10 divcevap'><div class='input-group'><span class='input-group-addon'><input type='radio' class="RadioCevap" name="RadioCevap" checked><span></span></span><div class='input-icon right'><i class='fa fa-close  sil' style='color:ghostwhite'></i><i class='fa fa-mic'></i><input type='text' name="txtdogrucevap" value="@item.Answer" class='form-control  txtcevap'></div></div></div>

                    }
                    else
                    {

                        <div class='col-md-offset-2 col-md-10 divcevap'><div class='input-group'><span class='input-group-addon'><input type='radio' class="RadioCevap" name="RadioCevap"><span></span></span><div class='input-icon right'><i class='fa fa-close  sil' style='color:black'></i><i class='fa fa-mic'></i><input type='text' name="txtyanliscevap" value="@item.Answer" class='form-control  txtcevap'></div></div></div>
                    }

                }
                <label class="col-md-offset-2  control-label btn" id="CevapEkle">Yeni Cevap Ekle</label>
            </div>

            @Html.HiddenFor(x => x.question.ID)

            <div class="form-group">
                <div class="col-md-offset-2  col-md-10">
                    <input type="submit" value="Güncelle" class="btn btn-circle green gonder"/>
                </div>
            </div>

        </div>
    }
</div>
@section styles{
    <link href="/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <script src="/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <script>
        var result;
        $(document).ready(function () {

            var Cevapsayisi = $('.txtcevap').length;

            $('#CevapEkle').click(function () {
                if (Cevapsayisi < 5) {
                    Cevapsayisi++;
                    $(this).prev().after("<div class='col-md-offset-2 col-md-10 divcevap' ><div class='input-group'><span class='input-group-addon'><input type='radio'class='RadioCevap' name='RadioCevap'><span></span></span><div class='input-icon right'><i class='fa fa-close  sil' style='color:black'></i><i class='fa fa-mic'></i><input name='txtyanliscevap' type='text' class='form-control  txtcevap'></div></div></div>");

                }
                else {
                    alert("5 den fazla cevap ekleyemezsiniz");
                }


            });

            $(document).on("click", ".sil", function () {

                $(this).parents('div').remove('.divcevap');
                Cevapsayisi--;

            });
            $('.RadioCevap').click(function () {
                $.each($('.txtcevap'), function () {
                    if ($($($(this).parent().prev()).children()).prop('checked')) {
                        $(this).attr('name', 'txtdogrucevap');
                    }
                    else {
                        $(this).attr('name', 'txtyanliscevap');
                    }
                       
                    });
            });
  

        });
          


    </script>

}