@model IEnumerable<QuestionBank.Models.Question>
@{
    ViewBag.Page = "Sorular";
    ViewBag.Title = "Soru Yönetimi";
    ViewBag.Description = "Soru yönetim ekranı";
}
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button id="sample_editable_1_2_new22" class="btn btn-circle green" onclick="location.href='@Url.RouteUrl("AddQuestion")'">
                Yeni Soru Ekle
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<br />
<div id="message"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Soru Listesi
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="list">
                    <thead>
                        <tr>
                            <th>
                                Sıra
                            </th>
                            <th>
                                Soru
                            </th>
                            <th>Ders - Konu</th>
                            <th>
                                Soru Tipi
                            </th>
                            <th>
                                Soru Dönem
                            </th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{int i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr id="tr_@item.ID">
                                <td>
                                    <span>@i</span>
                                </td>
                                <td>
                                    @item.Question1
                                </td>
                                <td>
                                    <p> <label class="badge badge-success">@item.Topic.Lesson.LessonName</label>  -  @item.Topic.TopicName</p>
                                </td>
                                <td>
                                    @item.QuestionType.QuestionTypeName
                                </td>
                                <td>
                                    @item.QuestionPeriod.QuestionPeriodName
                                </td>
                                <td>
                                    
                                    @Html.RouteLink("Düzenle", "EditQuestion", new { id = item.ID }, new { @class = "btn btn-outline btn-circle dark btn-sm purple fa fa-edit" }) |

                                    <a href="#" class="btn btn-outline btn-circle dark btn-sm red" onclick="DeleteQuestion(@item.ID)"> <i class="fa fa-trash-o"></i>Sil</a>

                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
@*<table class="table table-bordered table-striped table-condensed flip-content">
    <thead>
        <tr>
            <th>Ders No</th>
            <th>Dersleriniz</th>
            <th>Konuları Göster</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr_@item.ID">
                <td>@item.Lesson.ID</td>
                <td>
                    @item.Lesson.LessonName
                </td>
                <td>
                    @Ajax.ActionLink("Soruları Göster", "LessonQuestionList", "Question", new { LessonID = item.Lesson.ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DersSorulari" }, new { @class = "btn green btn-info btn-circle" })

                </td>
            </tr>
        }

    </tbody>
</table>*@
<div id="DersSorulari"></div>


@section styles{
    <link href="/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}


@section scripts {
    <script src="/Content/assets/global/scripts/datatable.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/Content/assets/pages/scripts/table-datatables-buttons.js" type="text/javascript"></script>

    <script>

        function DeleteQuestion(id) {
            if (confirm("Soru Silinsin mi ?")) {
                $.ajax({
                    type: "POST",
                    url: "SoruSil",
                    data: { ID: id },
                    success: function (data) {
                        var result = JSON.parse(data);
                        if (result.durum == "OK") {
                            $("#tr_" + id).remove();
                            $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                        }
                        else if (result.durum = "NO") {
                            $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                        }
                    }
                });
            }
        }
    </script>
}
