@model QuestionBank.Models.ViewModel.TopicEditViewModel
@{
    /**/

    ViewBag.Page = "Konular";
    ViewBag.Title = "Konu Yönetimi";
    ViewBag.Description = "Konu Güncelleme Ekranı";

}
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button class="btn btn-circle green" onclick="location.href='@Url.RouteUrl("Topics")'">
                <i class="fa fa-arrow-left"></i>
                Konu Listesi
            </button>
        </div>
    </div>
</div>
<br />
@Html.Raw(@ViewBag.Message)
@using (Html.BeginForm("Edit", "Topic", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.topic.Lesson.LessonName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.topic.Lesson.LessonName, new { @class = "form-control circle ", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.topic.TopicName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.topic.TopicName, new { htmlAttributes = new { @class = "form-control circle" } })
                @Html.ValidationMessageFor(x => x.topic.TopicName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Soru Dönemi</label>
            <div class="col-md-10">
                <div class="mt-checkbox-list">
                    @foreach (var item in ViewBag.QuestionPeriod)
                    {
                        foreach (var period in Model.topic.TopicQuestionPeriod)
                        {
                            if (item.QuestionPeriodName == period.QuestionPeriod.QuestionPeriodName)
                            {
                                <label class="mt-checkbox">
                                    <input type="checkbox" name="periods" value="@period.QuestionPeriod.ID" checked> @period.QuestionPeriod.QuestionPeriodName
                                    <span></span>
                                </label>
                            }
                            else
                            {
                                <label class="mt-checkbox">
                                    <input type="checkbox" name="periods" value="@item.QuestionPeriodName">@item.QuestionPeriodName
                                    <span></span>
                                </label>
                            }

                            continue;
                        }
                    }
                </div>
            </div>
        </div>
        @Html.HiddenFor(x=>x.topic.ID)
        <div class="form-group">
            <div class="col-md-offset-2  col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-circle green" />
            </div>
        </div>

    </div>
}
